* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Squada One", sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
}

label,
p {
    font-family: "Squada One", sans-serif;
    color: white;
    text-transform: uppercase;
}

label {
    display: inline-flex;
    align-items: center;
    gap: .2em;
}

input[value="customize"],
input[value="startshow"] {
    display: none;
}

label:has(input[value="customize"]),
label:has(input[value="startshow"]) {
    cursor: pointer;
}

select,
option {
    font-family: "Squada One", sans-serif;
    color: white;
    border: none;
    padding: .5em 1em;
    font-size: 1.2em;
    background-color: #191919;
    text-transform: uppercase;
}

select {
    width: 100%;
    color: #C28B1F;
}

option {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #272727;
}

main {
    overflow: hidden;
    /* kan weg, als main is veranderd */
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--height-header);
    flex-direction: column;
    background-color: #191919;
    padding: 1em;
    transition: all 0.5s ease-in-out;

    >div:first-of-type {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
        margin-top: .6em;

        label[for="customize"] {
            gap: .5em;
        }

        label[for="customize"]::after {
            align-self: center;
            content: "";
            display: inline-flex;
            width: 1.2em;
            aspect-ratio: 1;
            z-index: 1;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url(../content/next.svg);

        }

        input[data-customize] {
            display: none;
        }
    }

    h1 {
        font-size: clamp(1.5em, 5vw, 3em);
    }
}


footer {
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    background-color: #191919;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;

    color: white;

    >section {
        padding: 1em;
        height: var(--height-footer);

        svg:nth-of-type(1) {
            position: absolute;
            top: 0;
            left: 0;
        }

        svg:nth-of-type(2) {
            position: absolute;
            top: 0;
            right: 0;
        }

        div[data-customizeMenu] {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            section:first-of-type {
                /* menu voor welk gedeelte */
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 1em;
                margin-bottom: 1em;

            }

            fieldset {
                border: none;
                display: none;
                flex-direction: column;
                padding: 1em;

                input,
                label {
                    cursor: pointer;
                }

                div {
                    display: flex;
                    flex-direction: column;
                    gap: .5em;


                    div, label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        gap: 1em;
                        user-select: none;

                        div:first-of-type {
                            gap: .2em;
                        }
                    }
                }

                /* INPUTS */
                /********** Range Input Styles **********/
                /*Range Reset*/
                input[type="range"] {
                    -webkit-appearance: none;
                    appearance: none;
                    background: transparent;
                    cursor: pointer;
                    width: 13rem;
                    display: flex;
                    align-items: center;
                }

                /* Removes default focus */
                input[type="range"]:focus {
                    outline: none;
                }

                /***** Chrome, Safari, Opera and Edge Chromium styles *****/
                /* slider track */
                input[type="range"]::-webkit-slider-runnable-track {
                    background-color: var(--light-color);
                    border-radius: 0.5rem;
                    height: 0.5rem;
                }

                /* slider thumb */
                input[type="range"]::-webkit-slider-thumb {
                    -webkit-appearance: none;
                    /* Override default look */
                    appearance: none;
                    margin-top: -.25rem;
                    /* Centers thumb on the track */

                    /*custom styles*/
                    background-color: var(--golden-color);
                    height: 1rem;
                    width: .5rem;
                    border-radius: 0.5rem;
                }

                input[type="range"]:focus::-webkit-slider-thumb {
                    border: 1px solid var(--golden-color);
                    outline: 3px solid var(--golden-color);
                    outline-offset: 0.125rem;
                }

                /******** Firefox styles ********/
                /* slider track */
                input[type="range"]::-moz-range-track {
                    background-color: var(--golden-color);
                    border-radius: 0.5rem;
                    height: 0.5rem;
                }

                /* slider thumb */
                input[type="range"]::-moz-range-thumb {
                    border: none;
                    /*Removes extra border that FF applies*/
                    border-radius: 0.5rem;
                    /*Removes default border-radius that FF applies*/

                    /*custom styles*/
                    background-color: var(--golden-color);
                    height: 2rem;
                    width: 1rem;
                }

                input[type="range"]:focus::-moz-range-thumb {
                    border: 1px solid var(--golden-color);
                    outline: 3px solid var(--golden-color);
                    outline-offset: 0.125rem;
                }

            }
        }

        >div:last-of-type {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;

            >label::after {
                align-self: center;
                content: "";
                display: inline-flex;
                width: 1.2em;
                aspect-ratio: 1;
                z-index: 1;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                background-image: url(../content/next.svg);
            }
        }
    }
}

fieldset[data-innerring] div div:first-of-type label,
fieldset[data-innerboom] div div:first-of-type label,
fieldset[data-outerboom] div div:first-of-type label,
fieldset[data-innerring] div div:last-of-type label {
    border: 1px solid var(--light-color);
    border-radius: 5px;
    padding: .3em .6em;
}

fieldset[data-innerring] div div:first-of-type label input,
fieldset[data-innerboom] div div:first-of-type label input,
fieldset[data-outerboom] div div:first-of-type label input,
fieldset[data-innerring] div div:last-of-type label input{
    display: none;
}


fieldset[data-innerring] div div:first-of-type label:has(input:checked),
fieldset[data-innerboom] div div:first-of-type label:has(input:checked),
fieldset[data-outerboom] div div:first-of-type label:has(input:checked),
fieldset[data-innerring] div div:last-of-type label:has(input:checked),
fieldset[data-innerboom] div div:last-of-type label:has(input:checked),
fieldset[data-outerboom] div div:last-of-type label:has(input:checked) {
    color: var(--light-color);
    border: 2px solid var(--golden-color);
    box-shadow: var(--box-shadow);
}

fieldset[data-innerring] div div:last-of-type label:has(input:checked),
fieldset[data-innerboom] div div:last-of-type label:has(input:checked),
fieldset[data-outerboom] div div:last-of-type label:has(input:checked){
    background-color: #191919;
}

fieldset[data-innerring] div div:last-of-type label:has(input:checked),
fieldset[data-innerboom] div div:last-of-type label:has(input:checked),
fieldset[data-outerboom] div div:last-of-type label:has(input:checked) {
    color: var(--light-color);
}

fieldset[data-innerring] div div:first-of-type div label:has(input:checked) {
    background-color: var(--inner-ring-color);
}

fieldset[data-innerboom] div div:first-of-type div label:has(input:checked){
    background-color: var(--inner-boom-color);
}

fieldset[data-outerboom] div div:first-of-type div label:has(input:checked){
    background-color: var(--outer-boom-color);
}

section>label {
    cursor: pointer;
    padding: .5em 1em;
    border-radius: 2px;
    border: 1px solid #C28B1F;
    color: white;
}

section>label>input {
    display: none;

}

section>label:hover {
    background-color: #e4c892;
    border: none;
    transition: all 0.3s ease-in-out;
}