:root {
    --inner-ring-color: dimgray;
    --inner-boom-color: dimgray;
    --outer-boom-color: dimgray;
    --highlight-color: #e8dfcb;
    --div-trail: dimgray;


    --inner-boom-width: 10px;
    --outer-boom-width: 8px;
    --inner-boom-translateY: -40px;
    --outer-boom-translateY: -60px;
    --outer-boom-deg: 115deg;
    --inner-ring-width: 20px;
    --inner-border-with: 8px;
    --inner-boom-height: 200px;
    --outer-boom-height: 200px;

    --animation-dur: 10s;
}

/* VUURWERK */
main {
    display: flex;
    height: 100vh;
    width: 100vw;
    /* bah */
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main article:first-of-type {
    width: 75vmin;
    aspect-ratio: 1;
    margin: .5em;
}

main article:first-of-type::after {
    content: "";
    width: 1rem;
    height: 1rem;
    background: white;
    position: absolute;
    transform: translateY(50%);
    border-radius: 50%;
    scale: 0;

}


main article,
main section {
    display: grid;
    place-items: center;
    position: relative;
}

/* ALLE SECTIONS */
/* algemene regel sections */
main section {
    position: absolute;
    transform-origin: center;
}

/* alle divs in section 2 inner boom */
main section:nth-of-type(2) div {
    width: var(--inner-boom-width);
    height: var(--inner-boom-height);
}

main section:nth-of-type(2) div,
main section:nth-of-type(3) div {
    position: absolute;
    bottom: 50%;
    border-radius: 5px;
    transform-origin: 50% 100%;
}

main section:nth-of-type(3) div {
    position: absolute;
    bottom: 50%;
    width: var(--inner-boom-width);
    height: 50px;
}

/* div trails */
main section:nth-of-type(1) div,
main section:nth-of-type(2) div,
main section:nth-of-type(3) div {
    /* background: var(--div-trail); */
}

/* Algemene regels boom before */
main section:nth-of-type(2) div::before,
main section:nth-of-type(3) div::before {
    content: '';
    transform-origin: bottom center;
    position: absolute;
    left: 0;
    right: 0;
}


/* INNER CIRCLE */
main section:first-of-type>div {
    width: var(--inner-ring-width);
    aspect-ratio: 1;
    border-radius: 50%;
    border: var(--border-with) solid var(--div-trail);
    display: flex;
}

main section:first-of-type>div::before {
    content: '';
    width: 50px;
    aspect-ratio: 1;
    scale: 0;
    transform-origin: center;
    border-radius: 50%;
    border: var(--inner-border-with) solid var(--div-trail);
}

/* INNER BOOM  */
main section:nth-of-type(2) div::before {
    background: var(--inner-boom-color);
    width: var(--inner-boom-width);
    scale: 0;
    bottom: 0%;
    top: 90%;
    border-radius: 5px;
}

main section:nth-of-type(2) div:nth-of-type(1) {
    transform: rotate(0deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(2) {
    transform: rotate(45deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(3) {
    transform: rotate(90deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(4) {
    transform: rotate(135deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(5) {
    transform: rotate(180deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(6) {
    transform: rotate(225deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(7) {
    transform: rotate(270deg) translateY(var(--inner-boom-translateY));
}

main section:nth-of-type(2) div:nth-of-type(8) {
    transform: rotate(315deg) translateY(var(--inner-boom-translateY));
}

/* OUTER BOOM SECTION */
main section:nth-of-type(3)>div {
    width: var(--outer-boom-width);
    height: var(--outer-boom-height);
    border-radius: 5px;
}

/* little circle at the end */
main section:nth-of-type(3)>div::before {
    width: var(--outer-boom-width);
    height: calc(var(--outer-boom-height) / 5);
    border-radius: 5px;
    scale: 0;
    bottom: 0%;
    background: var(--outer-boom-color);
}

main section:nth-of-type(3)>div::after {
    content: '';
    grid-area: 1 / 1;
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    border-radius: 50%;
    left: 0;
    top: -30%;
    opacity: 0;
    background: radial-gradient(var(--div-trail), white);
}

/* OUTER BOOM */
main section:nth-of-type(3) div:nth-of-type(1) {
    transform: rotate(0deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(2) {
    transform: rotate(45deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(3) {
    transform: rotate(90deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(4) {
    transform: rotate(135deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(5) {
    transform: rotate(180deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(6) {
    transform: rotate(225deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(7) {
    transform: rotate(270deg) translateY(var(--outer-boom-translateY));
}

main section:nth-of-type(3) div:nth-of-type(8) {
    transform: rotate(315deg) translateY(var(--outer-boom-translateY));
}

/* ROTATE SECTIONS */
main section:nth-of-type(2) {
    transform: rotate(0deg);
}

main section:nth-of-type(3) {
    transform: rotate(var(--outer-boom-deg));
}


/* afschieter */
main article:first-of-type::after {
    animation: Afschieter var(--animation-dur) ease-in-out infinite;
}

/* inner ring */
main section:first-of-type>div::before {
    animation: innerRingAnimate var(--animation-dur) cubic-bezier(0, .9, .82, .99) infinite;
}

/* inner boom */
main section:nth-of-type(2) div::before {
    animation: explosionInnerBoom var(--animation-dur) cubic-bezier(.13, .7, .42, 1.01) infinite;
}

/* outer boom */
main section:nth-of-type(3)>div::before {
    animation: explosionOuterBoom var(--animation-dur) cubic-bezier(1, 0, .01, .97) infinite;
}

/* outer sparkles */
main section:nth-of-type(3)>div::after {
    animation: explosionOuterBoomAfter var(--animation-dur) cubic-bezier(.1, .41, .74, .56) infinite;
}